body{
    background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
li a,li{
    display: inline-block;
    color: white; 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;     text-decoration: none;
    
    padding: 30px;
  
}
.test{
    width: 100%;
    height: 420%;
   display: block; 
}
.test1{
    width: 100px;
    height: 100px;
}
h1{
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    
}
h2{
    font-family: 'Courier New', Courier, monospace; 
    color: white;
}
.Navbar:hover{
    color:red; 
}
.bg-img{
background-image: url("./res/gomycode3.jpeg"); 
filter: blur(4px);
width: 1350px;
height: 400px; 
}
.text{
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.button1,.button2,.button3,.button4,.button5,.button6,.button7,.button8,.button9{
    
    position: absolute;
    transform: translate(-300%,500%);
    text-align: center;
    
    
}
.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover,.button6:hover,.button7:hover,.button8:hover,.button9:hover{
    
    background-color: grey; 
    
}
div h1{
    font-family: 'Courier New', Courier, monospace; 
    color:white; 
    font-size: 60px; 
    text-shadow: 4px 4px black; 
}

.test3{
    font-family: 'Courier New', Courier, monospace; 
    display: block; 
    color: white; 
    text-align: center; 
}


.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9{
    display: flexbox;  
    width: 25% ; 
    height: 5% ;
}
.imageblock1,.imageblock2,.imageblock3,.imageblock4,.imageblock5,.imageblock6,.imageblock7,.imageblock8,.imageblock9{
    display: inline;
}




.feed{
    font-size: 45px; 
    font-family: 'Courier New', Courier, monospace; 
}
h3{
    font-size: 45px; 
    font-family: 'Courier New', Courier, monospace; 
    color: white; 
}
a, .view{
    font-size: 25px;
    text-decoration: none;
    color: white; 
     

}
a, .view:hover{
    color: red; 
}

a, #ex1{
    font-size: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: darkcyan; 

}